/* Main Page Text Styles */

.prg-d-main-heading {
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
  }
  
  .prg-d-sub-heading {
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
  }
  
  .prg-d-sub-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    overflow-wrap: break-word;
  }
  
  /* Main Div */
  
  .prg-d-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
  }
  
  /* Header and Navigation Buttons */
  
  .prg-d-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 10px 0px;
  }
  
  .prg-d-signup-button-design {
    width: 120px;
    height: 40px;
    margin: 0px 0px 0px 25px;
    border: 1px solid black;
    border-radius: 20px;
  }
  
  .prg-d-signup-button-design:hover {
    background-color: #f0f0f0;
  }
  
  .prg-d-nav-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 0px 0px;
  }
  
  .prg-d-button-design {
    width: 200px;
    height: 40px;
    border-bottom: 3px solid lightgrey;
  }
  
  .prg-d-selected {
    border-bottom: 3px solid black !important;
  }
  
  /* Basic Margins */
  
  .margin-bottom {
    margin-bottom: 10px;
  }
  
  .margin-top {
    margin-top: 10px;
  }
  
  .margin-left {
    margin-left: 10px;
  }
  
  .margin-right {
    margin-right: 10px;
  }