button {
  font-size: 18px;
  color: black;
  font-weight: 550;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.back-button,
.sign-in-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.sign-in-button {
  gap: 4px;
}

.primary-button {
  width: 163px;
  height: fit-content;
  padding: 5px 10px;

  background-color: #26a5e7;
  border-radius: 20px;

  color: white;
  cursor: pointer;
}

.primary-button.muted {
  background-color: rgba(38, 165, 231, 0.5);
  cursor: auto;
}

.next-button-text {
  font-size: 18px;
  color: white;
  font-weight: 550;
  margin: 5px;
}

.skip-button-text {
  font-size: 18px;
  color: black;
  font-weight: 550;
  margin: 5px;
}

.back-button-text {
  font-size: 18px;
  color: black;
  font-weight: 550;
}

.add-button {
  width: 46px;
  height: 46px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button>* {
  height: 24px;
  width: fit-content;
  object-fit: contain;
}

.black-border {
  border: 1px solid black;
}

.outline-btn-filled {
  color: white;
  background-color: #4f4f4f;
  border: none;
}

.delete-button>* {
  color: #ba4b4b !important;
}

.delete-button img {
  min-height: 20px;
  object-fit: contain;
  width: fit-content;
}