.signup-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 100px;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.signup-modal {
  padding: 25px;
  background-color: #fff;
  width: 800px;
  height: fit-content;
  border-radius: 10px;
}

.signup-modal .bolded {
  font-weight: 600;
}

.signup-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-bottom: 30px;
}

.signup-header p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.signup-header button {
  text-align: right;
  height: fit-content;
}

.signup-header img {
  height: 20px;
  width: fit-content;
}

.signup-modal-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.confirmation-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.38);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.45);
}

.participant-info,
.payment-info,
.payment-summary {
  margin: 20px 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.payment-summary > div > div {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.card-info-exp-cvv {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  width: 100%;
}

.terms-conditions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.terms-conditions a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.signup {
  width: 100%;
  text-align: right;
  padding-top: 25px;
}

@media screen and (min-width: 800px) {
  .signup-form {
    height: fit-content;
    max-height: 450px;
    overflow-y: auto;
    padding-right: 10px;
  }

  .payment-summary {
    margin-left: 20px;
  }
}

@media screen and (max-width: 800px) {
  .signup-modal-content {
    display: flex;
    flex-direction: column;
    max-height: 450px;
    overflow-y: auto;
    padding-right: 10px;
  }
}
