.bio-page {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Bio Input */
.bio-wrapper {
    width: 100%;
    margin: 25px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bio-input {
    width: 100%;
    height: 150px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    resize: none;
    outline: none;
}

.char-count {
    color: rgba(0, 0, 0, 0.7);
    margin-top: 8px;
}