.interests-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  border-radius: 25px;
  border: 1px solid black;
  padding-left: 40px;
  width: 328px;
  height: 48px;
}

.search-container {
    position: relative;
    margin: 0px 0px 25px 0px;
    padding-top: 20px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
}

.checkbox-size {
  transform: scale(2.5);
  margin: 15px;
}
