.purpose-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-container {
    display: flex;
    align-items: center;
}

.checkbox-size {
    transform: scale(2.5);
}

.label-padding {
    padding: 10px 15px;
}