.members-heading {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  overflow-wrap: break-word;
}

.members-link {
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  overflow-wrap: break-word;
}

.members-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid black;
}

.members-button-design {
  width: 75px;
  height: 30px;
  font-size: 14px;
  border-radius: 24px;
  background-color: #f7f7f7;
}

.members-left {
  display: flex;
  justify-content: row;
  align-items: center;
}
